<div class="form-box">
  <form class="task-filter" [formGroup]="taskForm">
    <h2 class="task-title">Crear Actividad</h2>
    <div class="form-group">
      <label for="name" class="form-label">Título</label>
      <input type="text" id="name" class="task-input" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="description" class="form-label">Descripción</label>
      <textarea name="description" formControlName="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="state" class="form-label">Estado</label>
      <select class="task-state" id="state" formControlName="state">
        <option value="Pendiente">Pendiente</option>
        <option value="En Proceso">En Proceso</option>
        <option value="Completado">Completado</option>
      </select>
    </div>
    <button class="task-button" (click)="addTask()">
      {{ editingTaskId ? "Actualizar" : "Agregar" }}
    </button>
  </form>

</div>
