<div class="task-box">
  <div class="task-list">
    <h2 class="title">Lista de Actividades</h2>

    <button nz-button nzType="primary" class="mb-1" routerLink="/task/create">
      Crear Actividad
    </button>
    @if(taskList.length>0){

    <nz-table [nzData]="taskList">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col" style="width: 400px">Detalle</th>
          <th scope="col">Estado</th>
          <th scope="col" colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(task of taskList; track task.id; let idx = $index ){
        <tr>
          <th scope="row">{{ idx + 1 }}</th>
          <td>{{ task?.name }}</td>
          <td>{{ task?.description }}</td>
          <td>
            <nz-tag
              [nzColor]="
                task?.state == 'Pendiente'
                  ? '#f50'
                  : task?.state == 'En Proceso'
                  ? '#2db7f5'
                  : '#87d068'
              "
              >{{ task?.state }}</nz-tag
            >
          </td>
          <td>
            <button
              nz-button
              nzType="primary"
              [routerLink]="['/task/edit/', task?.id]"
              class="me-2"
            >
              Editar
            </button>
            <button
              nz-button
              nzType="primary"
              (click)="showConfirm(task?.id)"
              nzDanger
            >
              Eliminar
            </button>
          </td>
        </tr>

        }@empty {
        <li>No hay tareas.</li>
        }
      </tbody>
    </nz-table>
    }@else{

    <nz-alert
      nzType="error"
      nzMessage="Sin actividades"
      nzDescription="No se registró ninguna actividad, para crear una debe presionar sobre el botón 'Crear Actividad' y llenar todos los campos."
    ></nz-alert>
    }
  </div>
</div>
